.chat {
  background-color: #fff;
  border: 1px solid #d3e0e9;
  border-radius: 3px;
  &__form {
    &-text {
      color: #777;
    }
    &-input {
      outline: none;
      border: 1px solid #d3e0e9;
      width: 100%;
      padding: 10px;
      &-subject {
        margin-bottom: 10px;
        padding: 5px 10px;
      }
    }
  }
}

.messages {
  &:last-child {
    hr {
      display: none;
    }
  }
  &-answer {
    span {
      display: inline-flex;
      margin-left: 5px;
    }
  }
}
body {
  min-height: 100vh;
}
#comments {
  .commentlist {
    list-style: none;
    padding: 0;
    .children {
      list-style: none;
    }
    .comment-container {
      background: #eee;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: calc(0.25rem - 1px);
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

#commentform {
  textarea {
    outline: none;
    border: 1px solid #d3e0e9;
    width: 100%;
    padding: 10px;
  }
}

#respond {
  label {
    color: #777;
  }
}

.wrap_result {
  position: fixed;
  right: 0;
  z-index: 99;
  max-width: 300px;
  width: 100%;
  bottom: 15px;
}

.attachment {
  transition: all 0.3s;
  &-hover {
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 19px;
    right: 19px;
    top: 4px;
    bottom: 4px;
    text-align: center;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    transition: all 0.3s
  }
  &:hover {
    transition: all 0.3s;
    .attachment-hover {
      display: flex;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
  &-lightbox {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    background: rgba(0,0,0,0.5);
    img {
      width: 100%;
      max-width: 1140px;
    }
  }
}