.chat {
  background-color: #fff;
  border: 1px solid #d3e0e9;
  border-radius: 3px;
  &__form {
    &-text {
      color: #777;
    }
    &-input {
      outline: none;
      border: 1px solid #d3e0e9;
      width: 100%;
      padding: 10px;
      &-subject {
        margin-bottom: 10px;
        padding: 5px 10px;
      }
    }
  }
}
.messages {
  &:last-child {
    hr {
      display: none;
    }
  }
  &-answer {
    span {
      display: inline-flex;
      margin-left: 5px;
    }
  }
}

#comments {
  .commentlist {
    list-style: none;
    padding: 0;
    .children {
      list-style: none;
    }
    .comment-container {
      background: #eee;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: calc(0.25rem - 1px);
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
#commentform {
  textarea {
    outline: none;
    border: 1px solid #d3e0e9;
    width: 100%;
    padding: 10px;
  }
}
#respond {
  label {
    color: #777;
  }
}